.previewIcon {
  text-align: center;
}

.previewIcon img {
  text-align: center;
  max-width: 30px;
  max-height: 30px;
}

.previewName {
  text-align: center;
  font-size: 1.2em;
}

.previewHeader {
  padding-bottom: 15px;
}
